.full-content {
    margin-top: 70px;
}
.gta-5{
    
    display: flex;
    justify-content: center;
}
.vice-city:hover {
    transform:scale(1.1);
    transition: 0.5s;
    box-shadow: 3px 3px 8px 2px rgb(11, 11, 11);
    cursor: pointer;
}
.big-head {
    display: flex;
    flex:1;

}
.gta-5-head {
    margin-left: 20px;
}
.search-bar {
    display:flex;
    width:300px;
    margin-left: 100px;
    justify-content: end; 
}   
.search {
    margin-right: 20px;
}
.full-flex {
    display: flex;
    position: fixed;
    justify-content:end;
    align-items: center;
    /* border-color: black; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 40px;
    width: 100%;
    top: 0px;
    left:0px;
    right:0px;
    background-color: rgb(194, 248, 95);

}
body {
    background-color: rgb(167, 247, 247);
}